.section {
  width: 100%;
  margin-top: 18rem;
  background-color: #fff;
  overflow: hidden;
  /* Чтобы слайдер не вызывал горизонтальный скролл страницы */
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.title {
  font-family: "SF Pro";
  font-weight: 870;
  font-size: 3.2rem;
  line-height: 110%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  color: rgba(51, 51, 51, 1);
}

.subtitle {
  font-family: "SF Pro Display", sans-serif;
  font-weight: 400;
  font-size: 1.3rem;
  text-align: center;
  color: #86868b;
  margin-bottom: 4rem;
  max-width: 700px;
}

/* Контейнер самого Swiper */
.swiperContainer {
  width: 100%;
  padding: 10px 0;
  /* Небольшой отступ, чтобы тени не обрезались */
}

/* Карточка партнера */
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* Высота слайда подстраивается автоматически, но можно задать min-height */
}

/* Контейнер под логотип */
.imageContainer {
  width: 100%;
  aspect-ratio: 3 / 2;
  border-radius: 24px;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  /* Логотип будет виден целиком */
  display: block;
  /* Фильтр для черно-белых логотипов (опционально) */
  /* filter: grayscale(100%); */
  /* transition: filter 0.3s; */
}

/* .imageContainer:hover .image {
  filter: grayscale(0%);
} */
 .swiperContainer :global(.swiper-wrapper) {
  transition-timing-function: linear !important;
}
@media (max-width: 1024px) {
  .section {
    margin-top: 6rem;
  }
}

/* АДАПТИВ */
@media (max-width: 768px) {
  .section {
    padding: 4rem 0;
    margin-top: 10rem;
  }

  .title {
    font-size: 2rem;
  }

  .subtitle {
    font-size: 1.1rem;
    margin-bottom: 2.5rem;
  }
}